body {
  font-size: 2rem;
  margin: 2rem 4rem;
}

/* default color theme */
.text {
  background-color: #fff;
  color: #333;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
  }
  .text {
    background: #000;
    color: #d0d;
    font-weight: bold;
  }
}

@media (prefers-color-scheme: light) {
  .text {
    background: white;
    color: #555;
  }
}
